@import "./root.css";

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 50ch;
    margin: auto;
    padding: 1em;
    font-size: 20px;
    font-family: var(--sans-serif);
    color: light-dark(var(--stone-1), var(--zinc-9));
    background-color: light-dark(var(--stone-9), var(--zinc-2));
}

#site-title {
    display: block;
    width: max-content;
    font-size: 1.5em;
    color: light-dark(var(--stone-3), var(--zinc-9));
}

#site-title:hover {
    color: light-dark(var(--accent-light), var(--accent-dark));
    background-color: initial;
    text-decoration: none;
}

header {
    font-family: var(--mono);
    font-style: italic;
    font-weight: bold;
    margin-top: 0.5em;
}

nav a {
    display: inline-block;
    margin-top: 0.5em;
}

nav a:not(:last-child) {
    margin-right: 0.5em;
}

main {
    margin: 2em 0;
}

a {
    color: light-dark(var(--accent-light), var(--accent-dark));
    text-decoration: none;
}

a:hover {
    color: light-dark(var(--stone-9), var(--zinc-2));
    background-color: light-dark(var(--accent-light), var(--accent-dark));
    text-decoration: none;
}

h1 {
    font-size: 1.65em;
}

h2 {
    font-size: 1.35em;
    margin-top: 1.25em;
}

h1,
h2 {
    line-height: 1.15em;
}

h2,
h3 {
    margin-top: 1.25em;
}

time {
    display: block;
    font-family: var(--mono);
    margin: 1em 0;
}

pre {
    overflow-x: auto;
    padding: 1em;
    tab-size: 4;
}

pre,
code {
    font-size: 0.95em;
    font-family: var(--mono);
    color: light-dark(var(--stone-9), var(--zinc-9));
    background-color: light-dark(var(--stone-3), var(--zinc-1));
}

blockquote {
    font-style: italic;
    margin: 1.5em 2em;
}

p,
li,
pre,
blockquote {
    line-height: 1.6;
}

figure {
    margin: 0;
    display: flex;
    justify-content: center;
}

figure figcaption {
    display: none;
}

img {
    max-width: 100%;
}

.post-list ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.post-list .post-date {
    display: inline-block;
    margin-right: 0.5em;
    font-size: 0.9em;
    font-family: var(--mono);
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }

    pre,
    code {
        font-size: initial;
    }

    blockquote {
        margin: 1.5em;
    }

    header {
        margin: 0;
    }
}
